name: Auto-merge

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    name: Auto-merge PR
    runs-on: ubuntu-latest
    
    # Only run for PRs created by the repository owner
    if: |
      github.event.pull_request.user.login == github.repository_owner ||
      github.event.pull_request.user.login == 'renovate[bot]'
    
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      
      - name: Auto-merge PR
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_LABELS: ""
          MERGE_METHOD: squash
          MERGE_COMMIT_MESSAGE: pull-request-title-and-description
          MERGE_FORKS: false
          MERGE_RETRIES: 6
          MERGE_RETRY_SLEEP: 10000
          UPDATE_LABELS: ""
          UPDATE_METHOD: rebase

